.App {
  font-family: sans-serif;
  text-align: center;
}

.App label {
  margin-top: 10px;
  width: 100%;
  display: block;
}

.App input,
.App select,
.App textarea {
  margin: 0px auto;
  width: 200px;
  display: block;
}

.App p {
  color: red;
  font-style: italic;
  margin-top: 4px;
}

.App .submit {
  margin-top: 20px;
}
